body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f7fa;
  line-height: 1.6;
  color: #333;

  .hero {
  background-image: url('/B12A01-landing-launchpad/Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;

}
.text-primary{
    color: #4E47FF;
}
.text-secondary{
    color:#252432;
}
.logo{
    font-weight: 600px;
    font-size: 22px;
}
.signup-btn{
    background-color:#4E47FF;
    font-weight:bold;
    color: #FFFFFF;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.signup-btn:hover{
    color: rgb(0, 0, 0);
    background-color: #48f7a8;
}
 
.banner-content {
  max-width: 1440px;
  height: 600px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-content h1 {
    font-weight: bold;
  font-size: 50px;
  color: #252432;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.focus-btn {
  padding: 14px 36px;
  font-size: 16px;
  background-color: #1a2bc6;
  font-weight:bold;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
}
.focus-btn:hover{
    color: black;
    background-color: #48f7a8;
}
