* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  
  line-height: 1.6;
  color: #333;

   .hero {  
  max-width: 1440px;
  width: 100%;
  height: 546px;
  margin: 0 auto;
  background-image: url('/B12A01-landing-launchpad/Assets/Hero-bg.png');
  background-size: cover;
  background-position:center;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  
   }
  
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;

}
.text-primary{
    color: #4E47FF;
}
.text-secondary{
    color:#252432;
}
.logo{
    font-weight: 600px;
    font-size: 22px;
}
.signup-btn{
    background-color:#4E47FF;
    font-weight:bold;
    color: #FFFFFF;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.signup-btn:hover{
    color: rgb(0, 0, 0);
    background-color: #48f7a8;
}

main{
    max-width: 1440px;
    margin: 0 auto;

}
 
.banner-content {
  text-align: center;
}
.banner-content h1 {
    font-weight: bold;
  font-size: 50px;
  color: #252432;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

.focus-btn {
  padding: 14px 36px;
  font-size: 16px;
  background-color: #1a2bc6;
  font-weight:bold;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
.focus-btn:hover{
    color: black;
    background-color: #48f7a8;
}
.action-section {
  display: flex;
  justify-content:space-between;
  padding: 130px 0;
  
  
}

.action-left {
  flex: 1;
  max-width: 550px;
  padding: 30px 30px;

}

.action-left h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.action-left p {
  font-size: 18px;
  margin-bottom: 20px;
}

.launch-btn {
  background-color:#1a2bc6;
  
  color: #ffffff;
  padding: 14px 30px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.launch-btn:hover{
    color: #090a12;
    background-color: #48f7a8;
}

.action-right {
  flex: 1;
  text-align:right;
}

.action-right img {
  max-width: 100%;
  border-radius: 15px;
}

.users-section {
  text-align: center;
  background-color: #f0f4f8;
  padding: 50px 30px;
  border-radius: 10px;
  gap: 5px;
}

.section-title {
  font-size: 36px;
  margin-bottom: 40px;
}

.users-stats {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.stat-box {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  width: 200px;
}

.stat-box h3 {
  font-size: 32px;
  color: #007a43;
}

.stat-box p {
  font-size: 16px;
}
.contact-section {
  display: flex;
  justify-content:space-around;
  padding:150px 0;
  background-color: #ffffff;
}

.contact-left {
  flex: 1;
  color: #007a43;
  display: flex;
  align-items:left;
  align-items: center;
}


.contact-left h2 {
  font-size: 50px;
}
.contact-left h2:hover{
    color: #4E47FF;
}

.contact-right {
  flex: 1;
  
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-btn {
  background-color: #007a43;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.contact-btn:hover{
    background-color: #4E47FF;
}



.feedback-section {
 
  background-color: #f5f7fa;
  border-radius: 20px;
  padding-bottom: 50px;
}

.feedback-header {
  text-align: center;
  margin-bottom: 40px;
}

.feedback-header .star-icon {
  font-size: 36px;
  color: #ffcc00;
}

.feedback-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.feedback-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.reviewer-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.feedback-card:hover {
  transform: translateY(-10px);
}

.reviewer-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.reviewer-info span {
  font-size: 14px;
  color: #999;
}

.star-rating {
  color: #ffcc00;
  font-size: 18px;
  margin: 10px 0;
}

footer{
    
    max-width: 1440px;
    margin: 0 auto;
    
}

.footer {
    padding-top: 130px;
    padding-bottom: 100px;
  background-color: #ffffff;
  color: #0f0202;
  text-align: center;
}

.footer-logo {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.footer-logo:hover{
    color:#150fc2;
}

.footer-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-nav a {
  color: #070101;
  text-decoration: none;
  font-size: 16px;
}

.footer-nav a:hover {
  color: #1510a7;
}


